[submodule "demo/ui/advanced.js"]
	path = demo/ui/advanced.js
	url = https://github.com/tr4n2uil/advanced.js
[submodule "demo/ui/responsive.css"]
	path = demo/ui/responsive.css
	url = https://github.com/tr4n2uil/responsive.css
