[submodule "ui/frontend.css"]
	path = ui/frontend.css
	url = http://github.com/tr4n2uil/frontend.css.git
[submodule "ui/frontend.js"]
	path = ui/frontend.js
	url = http://github.com/tr4n2uil/frontend.js.git
