{% with menu='login' title='Set New Password' %}
    {% include 'header.html' %}
{% endwith %}

{% if request.user.is_authenticated %}

    <meta http-equiv="refresh" content="5;URL='/'" />
    <div style="text-align: center; padding: 50px 0;">
        <h3>You are already logged in as {{ request.user.get_profile.name }}.</h3>
        <h5>Please wait while we redirect you to your dashboard ... </h5>
    </div>

{% else %}

<div class="row-fluid margin-bottom-10 newui" style="padding-top: 50px; min-height: 400px;">
    <div class="span4"></div>
    <div class="span4">
        <div class="prosection margin-bottom-20">
            <div class="superlegend border">Set New Password</div>

        {% if unlock %}
            <br /><br />
            <div class="alert alert-success" style="margin: 15px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Password successfully changed. You may now <a href="/login/">login</a>.</p>
            </div>
        {% else %}

        <form action="" method="post" class="login-page form">
            <legend class="color-blue head">Set New Password</legend>

            {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>{{ error }}</p>
            </div>
            {% endif %}

            <div class="controls">
                <label>New Password: <span class="color-red">*</span>
                    <input type="password" placeholder="New Password" name="password" class="span12" />
                </label>
            </div>
            <div class="controls">
                <label>Confirm Password: <span class="color-red">*</span>
                    <input type="password" placeholder="Confirm Password" name="cnfpasswd" class="span12" />
                </label>
            </div>

            <div class="controls">
                <input type="hidden" name="username" value="{{ username }}" />
                <input type="hidden" name="current" value="{{ current }}" />
                <input type="hidden" name="newpass" value="1" />
                <button class="btn btn-primary" type="submit">Set Password</button>
            </div>
        </form>

        {% endif %}
        </div>
    </div>
    <div class="span4"></div>
</div>

{% endif %}

{% include 'footer.html' %}