{% load utils %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% if title %}{{ title }} - {% endif %}mumbll</title>
		<link rel='shortcut icon' href="/ui/images/company/icon.orbitnote_30.png"/>
		<link rel="apple-touch-icon" href="/ui/images/company/apple-touch-icon.png"/>

		<link rel="stylesheet" type="text/css" href="/ui/bootstrap/css/bootstrap.min.css" />
		<!--<link rel="stylesheet" type="text/css" href="/ui/jquery/flick/jquery-ui-1.9.2.custom.css" />
		<link rel="stylesheet" type="text/css" href="/ui/fancybox/jquery.fancybox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/ui/ime/css/jquery.ime.css" />-->
	    <link rel="stylesheet" type="text/css" href="/ui/styles/orbitshare.css" />

	    <script type="text/javascript" src="/ui/jquery/jquery.min.js"></script>
	    <script type="text/javascript" src="/ui/bootstrap/js/bootstrap.min.js"></script>

	    <!--<script type="text/javascript" src="/ui/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/ui/jwplayer/jwplayer.js"></script>
		<script type="text/javascript" src="/ui/fancybox/jquery.fancybox.pack.js"></script>

		<script type="text/javascript" src="/ui/rangy/rangy-core.js"></script>
		<script type="text/javascript" src="/ui/ime/jquery.ime.js"></script>
		<script type="text/javascript" src="/ui/ime/jquery.ime.selector.js"></script>
		<script type="text/javascript" src="/ui/ime/jquery.ime.preferences.js"></script>
		<script type="text/javascript" src="/ui/ime/jquery.ime.inputmethods.js"></script>-->
		
		<script type="text/javascript" src="/ui/jquery.firespark.js"></script>
		<script type="text/javascript" src="/ui/scripts/orbitshare.js"></script>

		<script defer type="text/javascript" src="/ui/google/google-analytics.js"></script>
	</head>
	
	<body>
		<div class="body">

{% include 'title.html' %}

<div style="padding: 0.5em;">
	