doctype 5
html
	head
		block title
		
		//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700')
		link(rel='stylesheet', href='/ui/style/style.css')
		style
			body, input { font-family: 'Open Sans', sans-serif; }

		script(type='text/javascript', src='//code.jquery.com/jquery-1.10.2.min.js')
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(type='text/javascript', src='/ui/frontend.js/frontend.js')
		script(type='text/javascript', src='/ui/script/script.js')
	body
		block header
		block content
		block footer
